
.contact{
    margin:120px auto 40px auto;
    color: #333;
    background-color:$gray;

    font-size: .9rem;
    width:100%;
    max-width: 530px;
    .contact-container{
        width: 90%;
        margin: auto;
        padding:10px 10px;
    img{
        width:25px;
     
    }
   

    h4{
        margin: 20px 0 20px 0;
        font-size: 1rem;
       
    }
     

        .call{
            font-size: 1rem;
            align-items: center;
            display: grid;
            grid-template-columns: 1fr 8fr;
            margin-bottom: 20px;

            div{
                line-height:20px;
                span{
                    font-size: 1rem;
                }
                strong{
                    font-size: 1rem;
                }
            }
        }

        .email{
            img{
                width:30px;
            }
            align-items: center;
            display: grid;
            grid-template-columns: 1fr 8fr;
            margin-bottom: 20px;

            div{
                line-height:20px;

                span{
                    font-size: 1rem;
                }
                strong{
                    font-size: 1rem;
                }
            }
        }
    
        
        .facebook{
            img{
            width:17px;
            }
           
            align-items: center;
            display: grid;
            grid-template-columns: 1fr 8fr;
            margin-bottom: 20px;

            div{
                line-height:20px;

                span{
                    font-size: 1rem;
                }
                strong{
                    font-size: 1rem;

                    a{
                        color:#333;
                        text-decoration: none;
                    }
                    a:focus{
                        color:#333;
                        text-decoration: none; 
                    }
                }
            }
        }

        .address{
            align-items: center;
            display: grid;
            grid-template-columns: 1fr 8fr;
            margin-bottom: 20px;
            div{
                line-height:20px;
                span{
                    font-size: 1rem;
                }
                strong{
                    font-size: 1rem;
                }
            }

        }
      


   
    }
    
}

@media (max-width: 700px) {

    .contact{
       
  
        width:90%;
      
     .contact-container{
         
        h4{
            margin: 20px 0 20px 0;
            font-size: .9rem;
           
        }
         
    
            .call{
              
    
                div{
                    line-height:20px;
                    span{
                        font-size: .8rem;
                    }
                    strong{
                        font-size: .9rem;
                    }
                }
            }
    
            .email{
            
    
                div{
                    line-height:20px;
    
                    span{
                        font-size: .8rem;
                    }
                    strong{
                        font-size: .9rem;
                    }
                }
            }
        
            
            .facebook{
            
               
              
    
                div{
                    line-height:20px;
    
                    span{
                        font-size: .8rem;
                    }
                    strong{
                        font-size: .9rem;
                    }
                }
            }
    
            .address{
               
                div{
                    line-height:20px;
                    span{
                        font-size: .8rem;
                    }
                    strong{
                        font-size: .9rem;
                    }
                }
    
            }
          
    
      
       
       
    
    }
}
    }

    
@media (max-width: 400px) {

    .contact{
   

     .contact-container{

            img{
            width:25px;

            }


            h4{
            margin: 20px 0 20px 0;
            font-size: .9rem;
            text-align: center;
            }

    
            .call{
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content:center;
                margin-bottom: 20px;
            }
            .email{
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content:center;
                margin-bottom: 20px;
            }
        
            
            .facebook{
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content:center;
                margin-bottom: 20px;
            }
    
            .address{
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content:center;
                margin-bottom: 20px;
            
            }
          
    
      
       
       
    
    }
}
    }
   