main .bg{
    background-color: rgba(218, 238, 246, 0.287);
}

main .m-top{
    margin-top: 80px;
}
.invitation_feature {

    color: $dark-blue;
    width:70%;
    margin: 40px auto;
    padding: 0;
   
    a{
        color: $dark-blue;
        text-decoration: none;
        }
   .header_title{
    
       padding: 15px 0 0 20px;
       font-size: 1.6rem;
       font-weight: 400;
   }

    .options{
        padding:10px 20px 0 0;
        text-align:right;
        cursor: pointer;

    }

    ul{
     
        
      
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap:20px;
        margin:auto;
        color: #333;
        height: 80%;
        font-size: 0.8rem;
        cursor: pointer;
        padding:10px 20px 20px 20px;
        list-style-type: none;
        text-align: left;
        
      
    
        li{
            background-color: #fff;
            transition: transform 0.2s ease-in-out;
            height: 100%;
         
            div{
                padding: 5px 10px;

                .title{

                    font-size: 1.2rem;
                    font-weight:351;
                }
               .lead{
                font-family: 'Open Sans', sans-serif;
                font-size: 1rem;
          
               }
            }
        }
        li:hover{
            // transform: scale(1.01);
            
        }
        img{
            width: 100%;
         }
       
      
        
    }
    
    

    }


        
@media (max-width: 1810px) {
 
    .invitation_feature{
        width:95%;
     
    
        .section_feature{
    
            margin-bottom: 20px;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap:10px;
            padding:10px 10px 10px 10px;
            
        }
    
    }
      
       
    }
    @media (max-width: 600px) {
 .banner{
     font-size:.8rem;
 }
.invitation_feature{
    width:90%;
    .header_title{
   
        font-size: 1.2rem;
    }

    .section_feature{

        margin-bottom: 20px;
        grid-template-columns: 1fr 1fr;
        gap:10px;
        padding:10px 10px 10px 10px;
       
    }

}
  
   
}
@media (max-width: 400px){
    .banner{
        font-size:1rem;
    }
   .invitation_feature{
       width:100%;
       .header_title{
      
           font-size: 1rem;
       }
   
       .section_feature{
   

          li{
            div{

                .title{

                    font-size: .9rem;
               
                }
               
            }
          }
       }
   
   }
}