
.modal {
  animation-name: modalOpen;
  animation-duration: 0.6000s; 
    display: none;
    position: fixed;
    z-index: 99999;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: scroll;
    background-color: rgba(235, 230, 230, 0.5);
  }

  .modal-content {
    position: relative;
    width: 80%;
    margin:2% auto 2% auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
    
    background-color:#fff;
    .image-div{
      margin:20px;
    }
    div img{
      width: 100%;
;     margin: auto;
    }
    .details{
     
       color: #333;
       padding:15px 30px 20px 20px;
    
      
       h5{

        font-size: 2rem;
        font-weight: 300;
        margin-bottom: 2px;
        color: $dark-blue;
       }
       .size{
        font-size: 1.5rem;
        font-weight: 200;
        margin-bottom: 20px;
        color: rgb(56, 55, 55);
       }
       .description{
         line-height:1.4;
         font-size: 1rem;
       }

    }

    span{
      
    
      font-size:40px;
      margin-right: 10px;
      cursor: pointer;
      position: absolute;
      top: 0;
      right:0;
    }
  }


  @media (max-width:1170px) {
    .modal{

      .modal-content{
        grid-template-columns: 1fr;
      
        .details{

          h5{

            font-size: 1.5rem;
            font-weight: 300;
            margin-bottom: 2px;
     
           }

           .size{
            font-size: 1rem;
            font-weight: 200;
            margin-bottom: 20px;
            color: rgb(56, 55, 55);
           }
           .description{
             line-height:1.4;
             font-size: 1rem;
           }
          
        }
  


        
      }
    }

    
  }