
.modal {
  animation-name: modalOpen;
  animation-duration: 0.6000s; 
    display: none;
    position: fixed;
    z-index: 99999;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: scroll;
    background-color: rgba(235, 230, 230, 0.5);
    user-select:none;
  }

  .modal-content {
    position: relative;
    width: 80%;
    margin:2% auto 2% auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
    
    background-color:#fff;
    .image-div{
      margin:20px;
    
     
    }
    div img{
      width: 100%;
      margin: auto;
      position: relative;
    
    }

   
   

    .view-image{
      background-color:rgba(14, 13, 13, 0.822);
      color: #fefefe;
      font-weight: 200;
      padding:0px 10px;
      font-size: .9rem;
      align-items:center;
      margin-top:-42px;
      text-align:center;
      position: absolute;
      display: flex;
      
      strong{
        font-size:2rem;
        color: green;
        padding-right: 5px;
      }
    }
    .details{
      margin-top: 24px;
       color: #333;
       padding:15px 30px 20px 20px;
      position: relative;
       h5{

        font-size: 2rem;
        font-weight: 300;
        margin-bottom: 2px;
        color: $dark-blue;
       }
       h2{
        color: $dark-blue;
       }
       .size{
        font-size: 1.2rem;
        margin-bottom: 2px;
        color: $dark-blue;
      
       }
       .header_description{
        margin-top: 20px;
        color: $dark-blue;
        font-size: 1.3rem;
        margin-bottom: 2px;
       }
       .description{
     
         line-height:1.4;
         font-size: 1rem;
         margin-bottom:10px;
      
       }

       .modal-contact{
        
        background-color:rgb(224, 224, 224);
        color: rgb(70, 70, 70);
        padding: 10px;
        font-size: .9rem;
        h4{
         text-align: center;
         margin-bottom: 5px;
        }
        .modal-flex{
         display:flex;
         justify-content:center;
    
       
 
        .modal-call{
          display:flex;
          justify-content:flex-start;
      
          width:100%;
          
       
          img{
            width: 22px;
          }
          .img_and_numbers{
            align-items: center; 
            display:flex;
            margin: auto;
            p{
            
            flex: 1;
            margin-left: 5px;
            }
          }
        }
        .modal-text{
          display:flex;
          justify-content:flex-start;
          flex-direction: column;
          width:100%;
        
          .img_and_link{
            align-items: center; 
            display:flex;
            margin: auto;
 
          }
          a{
            text-decoration:none;
            color: rgb(70, 70, 70);
            margin-left: 8px;
            flex: 1;
          }
          img{
            width: 15px;
          }
        }
     }
    }

    }

    span{
      
    
      font-size:1rem;
      margin: 20px;
      cursor: pointer;
      position: absolute;
      top: 0;
      right:0;
      color: rgb(240, 240, 240);
      background-color:rgb(82, 81, 81);
      padding: 10px;
      border-radius:5px;
      transition:0.3s;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
      opacity:0.9
    }
    span:hover{
      color: #fefefe;
      background-color:rgb(37, 37, 37);
      
      
    }
  }


  @media (max-width:1170px) {
    .modal{

      .modal-content{
        grid-template-columns: 1fr;
        width: 100%;
        margin:auto;
        .details{
          margin-top: -24px;
          h5{

            font-size: 2rem;
            font-weight: 300;
            margin-bottom: 2px;
            color: $dark-blue;
     
           }
           
           .size{
            
           }
           .header_description{
            margin-top: 20px;
            color: $dark-blue;
            font-size: 1.3rem;
            margin-bottom: 2px;
           }
           .description{
            line-height:1.5;
            font-size: .8rem;
          }
          
        }
  


        
      }
    }

    
  }

  @media (max-width:700px){
    .modal{

      .modal-content{
        grid-template-columns: 1fr;
        .view-image{
       
          padding:0px 10px;
          font-size: .9rem;
          align-items:center;
          margin-top:-4px;
         
          
          strong{
            font-size:1.5rem;
          
          }
        }
        .details{
          margin-top: 0px;
          h5{

            font-size: 1.5rem;
            font-weight: 300;
            margin-bottom: 2px;
            color: $dark-blue;
            
           }

           h2{
            color: $dark-blue;
            font-size: 1rem;
           }
           .size{
            font-size: .9rem;
            margin-bottom: 2px;
            color: $dark-blue;
           }

           .header_description{
            margin-top: 20px;
            color: $dark-blue;
            font-size: 1rem;
            margin-bottom: 2px;
           }
           .description{
             line-height:1.5;
             font-size: .8rem;
           }
          
           .modal-contact{
       
       
            padding: 10px;
            font-size: .9rem;
            h4{
          
            }
            .modal-flex{
             display:flex;
             justify-content:center;
              flex-direction: column;
            .modal-call{
              margin-bottom: 20px;
              
           
              img{
                width: 22px;
              }
              .img_and_numbers{
                align-items: center; 
                display:flex;
                margin: auto;
                flex-direction: column;
                p{
                
                flex: 1;
                margin-left: 5px;
                }
              }
            }
            .modal-text{
              display:flex;
              justify-content:flex-start;
     
              width:100%;
            
              .img_and_link{
                align-items: center; 
                display:flex;
                margin: auto;
                flex-direction: column;
     
              }
              a{
                text-decoration:none;
                color: rgb(70, 70, 70);
                margin-left: 8px;
                flex: 1;
              }
              img{
                width: 15px;
              }
            }
         }
        
          
          }
        }
        span{
          font-size:1.1rem;
          padding: 5px;
          position: fixed;
        
        
        }
  


        
      }
    }

    
  }



  
  
  @media (max-width:400px){
    .modal{

      .modal-content{
        grid-template-columns: 1fr;
        .view-image{
         
          padding:0px 5px;
          font-size: .8rem;
          
          align-items:center;
          margin-top:-4px;
        
          
          strong{
            font-size:1.1rem;
          
          }
        }
        .details{
          margin-top: -10px;
          h5{

            font-size: 1.2rem;
            font-weight: 500;
            margin-bottom: 2px;
            color: $dark-blue;
     
           }

           h2{
            color: $dark-blue;
            font-size: .9rem;
           }
           .size{
            font-size: .9rem;
            margin-bottom: 2px;
            color: $dark-blue;
           }

           .header_description{
            margin-top: 20px;
            color: $dark-blue;
            font-size: 1rem;
            margin-bottom: 2px;
           }
           .description{
             line-height:1.4;
             font-size: .9rem;
           }
          
        }
  


        
      }
    }

    
  }



  