.container{
 
    height: 60px;
    color: white;
    width:100%;
    background-color: $dark-blue;
    padding: 0 20px;
    position: fixed;
    z-index: 1;
    top: 0;
    nav{
        user-select:none;
        font-weight: 400;
        font-size: .9rem;
        display:flex;
        cursor:pointer;
      
        img{
        width: 40px;
        height:40px;
        margin: .7rem 1rem;
        }
     
    
     
        ul{
            list-style-type: none;
            display: flex;
         
        
            span{
               
                display:none;
            }
            li{
            margin: 1.5rem 1rem;
           
         
            }
    
            a:hover{
                color: $yellow;
            }
          
    
            a{
                color: #fff;
                text-decoration: none;
             
            }
          
    
            
    
        }
        .menu{
            user-select:none;
            display:none;
        }
     
        
    }
}



@media (max-width: 700px) {
    .container{
        padding: 0;
  
    nav{
        width: 100%;
        font-size: .9rem;
        
        img{
            width: 35px;
            height:35px;
            margin: .9rem 0 0 10px;
            }
        .menu {
            position: relative;
            display:block;
            color: #fff;
            width:100%;
            font-size: 1rem;
            span{
            position: absolute;
            right:0;
            top: 20px;
            padding-right: 10px;
     
            }
            
            }

            .ul_background{
            animation-name: modalOpen;
            animation-duration: 0.6000s; 
            display:none;
            position: fixed;
            z-index: 99999;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            overflow: hidden;
            background-color: rgba(235, 230, 230, 0.5);
            
            }
        ul {
            background-color: rgba(51, 51, 51, 0.972);
            flex-direction:column;
            color: #333;
            height:100vh;
            width: 170px;
            position:absolute;
            right:0;
          
          
      

            .nav_home{
                padding-top:30px;
            }
            span{
            color: #fff;
            position: absolute;
            right: 0;
            padding:15px 30px 20px 20px;
            font-size:20px;
            display:block;
            }
            li{
                margin: 15px;
            }
         
        }
      

           
    }
}
}