
.container{
    background-color: $dark-blue;
    height: 60px;
    color: white;
    width:100%;
}

@keyframes modalOpen{

    from{opacity: 0}
    to{opacity: 1;}
}
nav{
    max-width: $max-width;
    margin: auto;
    font-weight: 300;
    font-size: .8rem;
    display:flex;
    cursor:pointer;
    width:100%;

    img{
    width: 40px;
    height:40px;
    margin: .7rem 1rem;
    }
    ul li:first-child{
        color: $yellow;
        }
    ul{
        list-style-type: none;
        display: flex;

       

        li{
        margin: 1.5rem 1rem;

        }

        li:hover{
            color: $yellow;
        }

    }
    
}

main{
    animation-name: modalOpen;
    animation-duration: 0.9000s; 
    .landing{
        position: relative;
        height: 60vh;

       
    }
   .landing-inner{
        img{
            width: 11%;
            margin-bottom: 20px;

        }
        color: #333;
        height: 100%;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
        .header{
            font-size: 2.5rem;
            font-weight: 300;
            letter-spacing: 1.375rem;
            color: $dark-blue;
        }
        .lead{
            color: #333;
            margin-top: 10px;
            font-size:1.4375;
            letter-spacing: .2rem;
            font-weight: 300;
        }
        
    }

}
.contact{
    animation-name: modalOpen;
    animation-duration: 0.9000s; 
    display: none;
    max-width: 600px;
    margin:80px auto 0 auto;
    color: #333;
    background-color:$gray;
    padding:20px 30px;
    font-size: .9rem;
    height: 210px;
    max-height: 400px;
    //to move the span in the contact details
    span{
        margin-left: 5px;
    }
    //for facebook icon contact only
    .facebook-icon{
        margin-right: 9px;
    }


    .close{
        float: right;
    }
    strong{
        color: rgb(75, 74, 74);
    }
    .call_email{
        margin-bottom: 30px;
        display: flex;
        gap: 40px;
        justify-content: flex-start;

        div{

            display: flex;
            gap: 10px;
            justify-content: flex-start;
        }
       
    }
    .facebook_address{
        display: flex;
        gap: 40px;
        justify-content: flex-start;

        div{

            display: flex;
            gap: 10px;
            justify-content: flex-start;
        }
    }
   
    h4{
        margin: 20px auto;
    }
    
}

footer{
    
    color: #333;
    background-color:$gray;
    position: fixed;
    bottom:0;
    width:100%;
    display:flex;
    height: 50px;
    justify-content:center;
    padding-top: 15px;
    

}

@media only screen and (max-width: 768px){
    .container{

        .landing{

       
        }
       .landing-inner{
        width: 90%;
            img{
                width: 20%;
                margin-bottom: 20px;
    
            }
          
            .header{
                font-size: 1.7rem;
                letter-spacing: .5rem;
           
            }
            .lead{
            
                font-size:1rem;
            
            }
            
        }
    
    }
    .contact{
    
        max-width: 400px;
        height: 340px;
        
        img{
            width:25px;
        }
          //for facebook icon contact only
          .facebook-icon{
            width: 14px;
        }
      
        .call_email{
         
            display: block;
         
    
            div{
                margin-bottom: 10px;
             
            }
           
        }
     
        .facebook_address{
            margin-top:-12px;
            display: block;
           
            div{
                margin-bottom: 10px;
               
            }
        }
       
        h4{
            margin: 20px auto;
        }
        
    }

    
    
}

@media only screen and (max-width: 420px){
    .container{

        .landing{
            height: 40vh;
       
        }
       .landing-inner{
            img{
                width: 20%;
                margin-bottom: 20px;
    
            }
            width: 90%;
            .header{
                font-size: 1.3rem;
                letter-spacing: .2rem;
           
            }
            .lead{
            
                font-size:.8rem;
            
            }
            
        }
    
    }

    .contact{
        
        max-width: 280px;
        height: 300px;
        font-size: .8rem;
      
        img{
            width:25px;
        }
         //for facebook icon contact only
        .facebook-icon{
            width: 14px;
        }
        .call_email{
         
            display: block;
         
    
            div{
                margin-bottom: 10px;
             
            }
           
        }
        .facebook_address{
            margin-top:-12px;
            display: block;
           
            div{
                margin-bottom: 10px;
               
            }
        }
       
        h4{
            margin: 20px auto;
        }
        
    }


    
}