
.container{
    background-color: $dark-blue;
    height: 60px;
    color: white;
    width:100%;

    @keyframes modalOpen{

        from{opacity: 0}
        to{opacity: 1;}
    }
}


nav{
    max-width: $max-width;
    margin: auto;
    font-weight: 300;
    font-size: 1.4rem;
    display:flex;
    cursor:pointer;
    width:100%;

    img{
    width: 40px;
    height:40px;
    margin: .7rem 1rem;
    }
    ul li:first-child{
        color: $yellow;
        }
    ul{
        list-style-type: none;
        display: flex;

       

        li{
        margin: 1.5rem 1rem;

        a{
          
            color: #fff;
            text-decoration: none;
        }
        }

        li:hover{
            color: $yellow;
        }
        .nav_home{
            color: #d15f20;
        }

        

    }
    
}

main{


    color: $dark-blue;
   
    .cover{
        
        max-width:1200px;
        margin:auto;
        .header{
            text-align: center;
            margin-bottom: 40px;
           
        }
        .note{
            color: #333;
            text-align: center;
            margin-bottom:40px;
        }
    }
}

.contact{
    animation-name: modalOpen;
    animation-duration: 0.6000s; 
    display: none;
    margin:50px auto 0 auto;
    color: #333;
    background-color:$gray;
    padding:10px 30px;
    font-size: 1.4rem;
    width:90%;
    max-width: 530px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

    img{
        width:25px;
     
    }
   

 
    .call_email{
        
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        margin: 0 auto 30px auto;
        width:100%;
   
     

        .call{
            align-items: center;
            display: grid;
            grid-template-columns: 1fr 5fr;
            
        }

        .email{
            img{
                width:30px;
            }
            align-items: center;
            display: grid;
            grid-template-columns: 1fr 5fr;

        }
       
    }
    .facebook_address{
         
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        margin: 0 auto 10px auto;
        width:100%;
     
        
        .facebook{
            img{
                width:17px;
            }
            align-items: center;
            display: grid;
            grid-template-columns: 1fr 5fr;
        }

        .address{
            align-items: center;
            display: grid;
            grid-template-columns: 1fr 5fr;

        }
      

      
    }
   
    h4{
        margin: -20px auto 10px auto;
        font-size: 1.6rem;
       
    }
    
}

footer{
    
    color: #333;
    background-color:$gray;
    position: fixed;
    bottom:0;
    width:100%;
    display:flex;
    height: 50px;
    justify-content:center;
    padding-top: 15px;
    

}

@media only screen and (max-width: 768px){
    .container{

       .landing-inner{
        width: 90%;
            img{
                width: 95px;
                margin-bottom: 20px;
                
    
            }
          
            .header{
                font-size: 1.4rem;
                letter-spacing: .8rem;
             
         
           
            }
            .lead{
            
                font-size:1rem;
            
            }
            
        }
    
    }


    
    
}


@media only screen and (max-width: 420px){
    .container{

        .landing{
            height: 60vh;
       
        }
       .landing-inner{
            img{
                width: 65px;
                margin-bottom: 20px;
    
            }
            width: 90%;
            .header{
                font-size: 1rem;
                letter-spacing: .2rem;
           
            }
            .lead{
            
                font-size:.8rem;
            
            }
            
        }
    
    }




    
}