@import 'config';
@import 'utilities';
@import 'nav';
@import 'contact';
@import 'modal';
@import 'banner';
@import 'feature';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
 
}
    @keyframes modalOpen{

        from{opacity: 0}
        to{opacity: 1;}
    }


