@import 'config';
@import 'utilities';
@import 'nav';
@import 'main';
@import 'contact';
@import 'slides';
@import 'preview';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
body{
background-color: rgb(245, 245, 245);
overflow:auto;

}

